<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center" style="font-size: 38px;">hurls</p>
    </div>
    <div class="col-xs-12">
      <p class="text-center">
        <a href="https://www.facebook.com/HURLS-URL-Shortner-1466846783366078/" target="_blank"><i class="fa fa-facebook footer-icon"></i></a>
        <a href="https://twitter.com/hurls_url" target=_blank><i class="fa fa-twitter footer-icon"></i></a>
        <a href="https://www.linkedin.com/company-beta/13305011" target="_blank"><i class="fa fa-linkedin footer-icon"></i></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center">
        <a href="/getting-started">Getting Started </a> |
        <a href="/track-links">Track </a> |
        <a href="/about">About </a>
      </p>
    </div><br><br>
    <div class="col-xs-12 credit"><br>
      <p class="text-center">Developed with <i class="fa fa-heart fa-fw"></i> by <br><a href="https://www.linkedin.com/in/harsh-tomar-7a407573/" target="_blank">Harsh Tomar</a></p>
    </div>
  </div>
</div>
