
<div class="social-wrapper">
    <a href="https://www.facebook.com/sharer.php?u=http://hurls.in/" target="_blank" role="button" title="Share on Facebook" class="btn sidebtn"><i class="fa fa-facebook fa-fw"></i>  Facebook</a><br>
    <a href="https://twitter.com/intent/tweet?hashtags=urlShortener&related=hurls&text=http://hurls.in" target="_blank" role="button" title="Share on Twitter" class="btn sidebtn"><i class="fa fa-twitter fa-fw"></i>  Twitter</a><br>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://hurls.in/" target="_blank" role="button" title="Share on LinkedIn" class="btn sidebtn"><i class="fa fa-linkedin fa-fw"></i>  LinkedIn</a>
</div>
